_site
__pycache__
*.DS_Store
.sass-cache
dependencies/bi/salmonella/heidelberg-SL476/script_dependents/Thumbs.db
.coverage
dist/
site/
*.egg-info
*holding*
dependencies.tar.gz
dependencies/deepvariant_model/
legacy_comparison/
*.bt2
*.fai
*.bed
*.coords
*.delta
*.val
*.fna
*.fsa
*.ecn
*.faa
*.ffn
*.fixedproducts
*.sqn
dependencies/mycobacterium/tbc/af2122/script_dependents/NC_002945v4.gbf
dependencies/brucella/suis1/script_dependents/NC_017250.gbf
dependencies/brucella/suis1/script_dependents/NC_017251-NC_017250.txt
dependencies/brucella/suis1/script_dependents/NC_017251-NC_017250.err
dependencies/brucella/suis1/script_dependents/NC_017251-NC_017250.log
dependencies/brucella/suis1/script_dependents/NC_017251-NC_017250.tbl
dependencies/brucella/suis1/script_dependents/NC_017251-NC_017250.tsv
*~lock*
