include dependencies/mash/species_accessions.csv
include dependencies/mash/vsnp_reference.msh
include dependencies/virus/newcastle/script_dependents/RemoveFromAnalysis.xlsx
include dependencies/virus/newcastle/script_dependents/Filtered_Regions.xlsx
include dependencies/virus/newcastle/script_dependents/DefiningSNPsGroupDesignations.xlsx
include dependencies/virus/newcastle/script_dependents/18-016505-001-fusion-HN.fasta
include dependencies/virus/h7n3/script_dependents/H7N3-Seq4.gbk
include dependencies/virus/h7n3/script_dependents/H7N3-Seq1.gbk
include dependencies/virus/h7n3/script_dependents/H7N3-Seq8.gbk
include dependencies/virus/h7n3/script_dependents/H7N3.genome
include dependencies/virus/h7n3/script_dependents/RemoveFromAnalysis.xlsx
include dependencies/virus/h7n3/script_dependents/H7N3-Seq5.gbk
include dependencies/virus/h7n3/script_dependents/H7N3.gff
include dependencies/virus/h7n3/script_dependents/H7N3-reference.fasta
include dependencies/virus/h7n3/script_dependents/Filtered_Regions.xlsx
include dependencies/virus/h7n3/script_dependents/H7N3-Seq2.gbk
include dependencies/virus/h7n3/script_dependents/DefiningSNPsGroupDesignations.xlsx
include dependencies/virus/h7n3/script_dependents/H7N3-Seq3.gbk
include dependencies/virus/h7n3/script_dependents/H7N3-Seq6.gbk
include dependencies/virus/h7n3/script_dependents/H7N3-reference.fasta.fai
include dependencies/virus/h7n3/script_dependents/H7N3-Seq7.gbk
include dependencies/virus/belize/script_dependents/KF767466.fasta.fai
include dependencies/virus/belize/script_dependents/RemoveFromAnalysis.xlsx
include dependencies/virus/belize/script_dependents/KF767466.fasta
include dependencies/virus/belize/script_dependents/Filtered_Regions.xlsx
include dependencies/virus/belize/script_dependents/KF767466.gbk
include dependencies/virus/belize/script_dependents/KF767466.gff
include dependencies/virus/belize/script_dependents/DefiningSNPsGroupDesignations.xlsx
include dependencies/virus/belize/script_dependents/KF767466.genome
include dependencies/mycobacterium/spacers.fasta
include dependencies/mycobacterium/avium_complex/NC_002944/script_dependents/NC_002944.gbk
include dependencies/mycobacterium/avium_complex/NC_002944/script_dependents/RemoveFromAnalysis.xlsx
include dependencies/mycobacterium/avium_complex/NC_002944/script_dependents/highqualitysnps.vcf
include dependencies/mycobacterium/avium_complex/NC_002944/script_dependents/Filtered_Regions.xlsx
include dependencies/mycobacterium/avium_complex/NC_002944/script_dependents/DefiningSNPsGroupDesignations.xlsx
include dependencies/mycobacterium/avium_complex/NC_002944/script_dependents/NC_002944.fasta
include dependencies/mycobacterium/tbc/af2122/script_dependents/NC_002945v4.gff
include dependencies/mycobacterium/tbc/af2122/script_dependents/af2122v4.genome
include dependencies/mycobacterium/tbc/af2122/script_dependents/~$Filtered_Regions.xlsx
include dependencies/mycobacterium/tbc/af2122/script_dependents/NC_002945v4.fasta.regions
include dependencies/mycobacterium/tbc/af2122/script_dependents/NC_002945v4.gbk
include dependencies/mycobacterium/tbc/af2122/script_dependents/NC_002945v4.4.bt2
include dependencies/mycobacterium/tbc/af2122/script_dependents/RemoveFromAnalysis.xlsx
include dependencies/mycobacterium/tbc/af2122/script_dependents/NC_002945v4.fasta
include dependencies/mycobacterium/tbc/af2122/script_dependents/NC_002945v4.fasta.fai
include dependencies/mycobacterium/tbc/af2122/script_dependents/af2122.genome
include dependencies/mycobacterium/tbc/af2122/script_dependents/NC_002945v4.3.bt2
include dependencies/mycobacterium/tbc/af2122/script_dependents/Filtered_Regions.xlsx
include dependencies/mycobacterium/tbc/af2122/script_dependents/spoligotype_db.txt
include dependencies/mycobacterium/tbc/af2122/script_dependents/DefiningSNPsGroupDesignations.xlsx
include dependencies/mycobacterium/tbc/af2122/script_dependents/NC_002945v4.rev.1.bt2
include dependencies/mycobacterium/tbc/af2122/script_dependents/NC_002945v4.1.bt2
include dependencies/mycobacterium/tbc/af2122/script_dependents/NC_002945v4.2.bt2
include dependencies/mycobacterium/tbc/af2122/script_dependents/NC_002945v4.rev.2.bt2
include dependencies/mycobacterium/tbc/h37/script_dependents/~$DefiningSNPsGroupDesignations.xlsx
include dependencies/mycobacterium/tbc/h37/script_dependents/~$Filtered_Regions.xlsx
include dependencies/mycobacterium/tbc/h37/script_dependents/NC_000962.fasta.fai
include dependencies/mycobacterium/tbc/h37/script_dependents/H37Rv.genome
include dependencies/mycobacterium/tbc/h37/script_dependents/NC_000962.gbk
include dependencies/mycobacterium/tbc/h37/script_dependents/RemoveFromAnalysis.xlsx
include dependencies/mycobacterium/tbc/h37/script_dependents/Filtered_Regions.xlsx
include dependencies/mycobacterium/tbc/h37/script_dependents/NC000962.fasta
include dependencies/mycobacterium/tbc/h37/script_dependents/spoligotype_db.txt
include dependencies/mycobacterium/tbc/h37/script_dependents/DefiningSNPsGroupDesignations.xlsx
include dependencies/mycobacterium/tbc/h37/script_dependents/NC_000962.gff
include dependencies/mycobacterium/tbc/h37/script_dependents/NC_000962.genome
include dependencies/mycobacterium/tbc/h37/script_dependents/NC_000962.fasta
include dependencies/reference_links.csv
include dependencies/bi/taylorella/te_98-0554/script_dependents/NZ_CP021246.gbk
include dependencies/bi/taylorella/te_98-0554/script_dependents/RemoveFromAnalysis.xlsx
include dependencies/bi/taylorella/te_98-0554/script_dependents/highqualitysnps.vcf
include dependencies/bi/taylorella/te_98-0554/script_dependents/Filtered_Regions.xlsx
include dependencies/bi/taylorella/te_98-0554/script_dependents/DefiningSNPsGroupDesignations.xlsx
include dependencies/bi/taylorella/te_98-0554/script_dependents/NZ_CP021246.fasta
include dependencies/bi/taylorella/te_atcc35865/script_dependents/RemoveFromAnalysis.xlsx
include dependencies/bi/taylorella/te_atcc35865/script_dependents/highqualitysnps.vcf
include dependencies/bi/taylorella/te_atcc35865/script_dependents/Filtered_Regions.xlsx
include dependencies/bi/taylorella/te_atcc35865/script_dependents/NC_018108.fasta
include dependencies/bi/taylorella/te_atcc35865/script_dependents/NC_018108.fasta.fai
include dependencies/bi/taylorella/te_atcc35865/script_dependents/DefiningSNPsGroupDesignations.xlsx
include dependencies/bi/taylorella/te_atcc35865/script_dependents/NC_018108.gbk
include dependencies/bi/taylorella/te_89-0490/script_dependents/NZ_CP021199.gbk
include dependencies/bi/taylorella/te_89-0490/script_dependents/NZ_CP021199.fasta
include dependencies/bi/taylorella/te_89-0490/script_dependents/RemoveFromAnalysis.xlsx
include dependencies/bi/taylorella/te_89-0490/script_dependents/highqualitysnps.vcf
include dependencies/bi/taylorella/te_89-0490/script_dependents/Filtered_Regions.xlsx
include dependencies/bi/taylorella/te_89-0490/script_dependents/DefiningSNPsGroupDesignations.xlsx
include dependencies/bi/taylorella/te_09-0932/script_dependents/~$DefiningSNPsGroupDesignations.xlsx
include dependencies/bi/taylorella/te_09-0932/script_dependents/RemoveFromAnalysis.xlsx
include dependencies/bi/taylorella/te_09-0932/script_dependents/highqualitysnps.vcf
include dependencies/bi/taylorella/te_09-0932/script_dependents/NZ_CP021201.gbk
include dependencies/bi/taylorella/te_09-0932/script_dependents/Filtered_Regions.xlsx
include dependencies/bi/taylorella/te_09-0932/script_dependents/NZ_CP021201.fasta
include dependencies/bi/taylorella/te_09-0932/script_dependents/DefiningSNPsGroupDesignations.xlsx
include dependencies/bi/taylorella/te_92-0972/script_dependents/NZ_CP021060.gbk
include dependencies/bi/taylorella/te_92-0972/script_dependents/NZ_CP021060.fasta.fai
include dependencies/bi/taylorella/te_92-0972/script_dependents/RemoveFromAnalysis.xlsx
include dependencies/bi/taylorella/te_92-0972/script_dependents/highqualitysnps.vcf
include dependencies/bi/taylorella/te_92-0972/script_dependents/Filtered_Regions.xlsx
include dependencies/bi/taylorella/te_92-0972/script_dependents/NZ_CP021060.fasta
include dependencies/bi/taylorella/te_92-0972/script_dependents/DefiningSNPsGroupDesignations.xlsx
include dependencies/bi/taylorella/te_mce9/script_dependents/NC_014914.gbk
include dependencies/bi/taylorella/te_mce9/script_dependents/RemoveFromAnalysis.xlsx
include dependencies/bi/taylorella/te_mce9/script_dependents/NC_014914.fasta
include dependencies/bi/taylorella/te_mce9/script_dependents/highqualitysnps.vcf
include dependencies/bi/taylorella/te_mce9/script_dependents/Filtered_Regions.xlsx
include dependencies/bi/taylorella/te_mce9/script_dependents/DefiningSNPsGroupDesignations.xlsx
include dependencies/bi/salmonella/typhimurium-14028S/script_dependents/NC_016855.gbk
include dependencies/bi/salmonella/typhimurium-14028S/script_dependents/NC_016856-NC_016855.fasta
include dependencies/bi/salmonella/typhimurium-14028S/script_dependents/NC_016856.gbk
include dependencies/bi/salmonella/typhimurium-14028S/script_dependents/RemoveFromAnalysis.xlsx
include dependencies/bi/salmonella/typhimurium-14028S/script_dependents/highqualitysnps.vcf
include dependencies/bi/salmonella/typhimurium-14028S/script_dependents/Filtered_Regions.xlsx
include dependencies/bi/salmonella/typhimurium-14028S/script_dependents/DefiningSNPsGroupDesignations.xlsx
include dependencies/bi/salmonella/typhimurium-14028S/script_dependents/NC_016856-NC_016855.gbk
include dependencies/bi/salmonella/typhimurium-LT2/script_dependents/AE006468.gff
include dependencies/bi/salmonella/typhimurium-LT2/script_dependents/AE006468.fasta.fai
include dependencies/bi/salmonella/typhimurium-LT2/script_dependents/RemoveFromAnalysis.xlsx
include dependencies/bi/salmonella/typhimurium-LT2/script_dependents/highqualitysnps.vcf
include dependencies/bi/salmonella/typhimurium-LT2/script_dependents/AE006468.fasta
include dependencies/bi/salmonella/typhimurium-LT2/script_dependents/Filtered_Regions.xlsx
include dependencies/bi/salmonella/typhimurium-LT2/script_dependents/AE006468.gbk
include dependencies/bi/salmonella/typhimurium-LT2/script_dependents/DefiningSNPsGroupDesignations.xlsx
include dependencies/bi/salmonella/typhimurium-LT2/script_dependents/AE006468.genome
include dependencies/bi/salmonella/heidelberg-SL476/script_dependents/NC_011083.fasta.fai
include dependencies/bi/salmonella/heidelberg-SL476/script_dependents/~$Filtered_Regions.xlsx
include dependencies/bi/salmonella/heidelberg-SL476/script_dependents/RemoveFromAnalysis.xlsx
include dependencies/bi/salmonella/heidelberg-SL476/script_dependents/highqualitysnps.vcf
include dependencies/bi/salmonella/heidelberg-SL476/script_dependents/NC_011083.genome
include dependencies/bi/salmonella/heidelberg-SL476/script_dependents/Filtered_Regions.xlsx
include dependencies/bi/salmonella/heidelberg-SL476/script_dependents/~$RemoveFromAnalysis.xlsx
include dependencies/bi/salmonella/heidelberg-SL476/script_dependents/NC_011083.gff
include dependencies/bi/salmonella/heidelberg-SL476/script_dependents/NC_011083.gbk
include dependencies/bi/salmonella/heidelberg-SL476/script_dependents/DefiningSNPsGroupDesignations.xlsx
include dependencies/bi/salmonella/heidelberg-SL476/script_dependents/NC_011083.fasta
include dependencies/brucella/melitensis-bv1/script_dependents/NC_003317-NC_003318.fasta.fai
include dependencies/brucella/melitensis-bv1/script_dependents/NC_003317-NC_003318.genome
include dependencies/brucella/melitensis-bv1/script_dependents/NC_003318.gbk
include dependencies/brucella/melitensis-bv1/script_dependents/NC_003317.gbk
include dependencies/brucella/melitensis-bv1/script_dependents/RemoveFromAnalysis.xlsx
include dependencies/brucella/melitensis-bv1/script_dependents/NC_003317-NC_003318.fasta
include dependencies/brucella/melitensis-bv1/script_dependents/Filtered_Regions.xlsx
include dependencies/brucella/melitensis-bv1/script_dependents/DefiningSNPsGroupDesignations.xlsx
include dependencies/brucella/melitensis-bv1/script_dependents/NC_003317-NC_003318.gff
include dependencies/brucella/melitensis-bv3/script_dependents/NZ_CP007760.gbk
include dependencies/brucella/melitensis-bv3/script_dependents/NZ_CP007761.gbk
include dependencies/brucella/melitensis-bv3/script_dependents/RemoveFromAnalysis.xlsx
include dependencies/brucella/melitensis-bv3/script_dependents/Filtered_Regions.xlsx
include dependencies/brucella/melitensis-bv3/script_dependents/DefiningSNPsGroupDesignations.xlsx
include dependencies/brucella/melitensis-bv3/script_dependents/NZ_CP007760-NZ_CP007761.gff
include dependencies/brucella/melitensis-bv3/script_dependents/NZ_CP007760-NZ_CP007761.genome
include dependencies/brucella/melitensis-bv3/script_dependents/NZ_CP007760-NZ_CP007761.fasta.fai
include dependencies/brucella/melitensis-bv3/script_dependents/NZ_CP007760-NZ_CP007761.fasta
include dependencies/brucella/melitensis-bv2/script_dependents/NC_012441-NC_012442.fasta.fai
include dependencies/brucella/melitensis-bv2/script_dependents/RemoveFromAnalysis.xlsx
include dependencies/brucella/melitensis-bv2/script_dependents/NC_012441.gbk
include dependencies/brucella/melitensis-bv2/script_dependents/Filtered_Regions.xlsx
include dependencies/brucella/melitensis-bv2/script_dependents/NC_012441-NC_012442.gff
include dependencies/brucella/melitensis-bv2/script_dependents/DefiningSNPsGroupDesignations.xlsx
include dependencies/brucella/melitensis-bv2/script_dependents/NC_012441-NC_012442.fasta
include dependencies/brucella/melitensis-bv2/script_dependents/NC_012441-NC_012442.genome
include dependencies/brucella/melitensis-bv2/script_dependents/NC_012442.gbk
include dependencies/brucella/ceti1/script_dependents/RemoveFromAnalysis.xlsx
include dependencies/brucella/ceti1/script_dependents/Filtered_Regions.xlsx
include dependencies/brucella/ceti1/script_dependents/DefiningSNPsGroupDesignations.xlsx
include dependencies/brucella/ceti1/script_dependents/Bceti1Cudo.fasta
include dependencies/brucella/melitensis-bv1b/script_dependents/NZ_CP018508-NZ_CP018509.fasta
include dependencies/brucella/melitensis-bv1b/script_dependents/RemoveFromAnalysis.xlsx
include dependencies/brucella/melitensis-bv1b/script_dependents/NZ_CP018508-NZ_CP018509.fasta.fai
include dependencies/brucella/melitensis-bv1b/script_dependents/Filtered_Regions.xlsx
include dependencies/brucella/melitensis-bv1b/script_dependents/NZ_CP018508.gbk
include dependencies/brucella/melitensis-bv1b/script_dependents/NZ_CP018508-NZ_CP018509.gff
include dependencies/brucella/melitensis-bv1b/script_dependents/NZ_CP018508-NZ_CP018509.genome
include dependencies/brucella/melitensis-bv1b/script_dependents/DefiningSNPsGroupDesignations.xlsx
include dependencies/brucella/melitensis-bv1b/script_dependents/NZ_CP018509.gbk
include dependencies/brucella/abortus1/script_dependents/NC_006932-NC_006933.fasta.fai
include dependencies/brucella/abortus1/script_dependents/NC_006932-NC_006933.genome
include dependencies/brucella/abortus1/script_dependents/RemoveFromAnalysis.xlsx
include dependencies/brucella/abortus1/script_dependents/NC_006933.gbk
include dependencies/brucella/abortus1/script_dependents/Filtered_Regions.xlsx
include dependencies/brucella/abortus1/script_dependents/NC_006932-NC_006933.gff
include dependencies/brucella/abortus1/script_dependents/DefiningSNPsGroupDesignations.xlsx
include dependencies/brucella/abortus1/script_dependents/NC_006932-NC_006933.fasta
include dependencies/brucella/abortus1/script_dependents/NC_006932.gbk
include dependencies/brucella/suis3/script_dependents/NZ_CP007719.gbk
include dependencies/brucella/suis3/script_dependents/NZ_CP007719-NZ_CP007718.genome
include dependencies/brucella/suis3/script_dependents/NZ_CP007718.gbk
include dependencies/brucella/suis3/script_dependents/RemoveFromAnalysis.xlsx
include dependencies/brucella/suis3/script_dependents/NZ_CP007719-NZ_CP007718.fasta
include dependencies/brucella/suis3/script_dependents/NZ_CP007719-NZ_CP007718.gff
include dependencies/brucella/suis3/script_dependents/Filtered_Regions.xlsx
include dependencies/brucella/suis3/script_dependents/DefiningSNPsGroupDesignations.xlsx
include dependencies/brucella/suis3/script_dependents/NZ_CP007719-NZ_CP007718.fasta.fai
include dependencies/brucella/MLST/glk.tfa
include dependencies/brucella/MLST/cobQ.tfa
include dependencies/brucella/MLST/gyrB.tfa
include dependencies/brucella/MLST/int_hyp.tfa
include dependencies/brucella/MLST/Brucella_spp..fasta
include dependencies/brucella/MLST/gap.tfa
include dependencies/brucella/MLST/aroA.tfa
include dependencies/brucella/MLST/trpE.tfa
include dependencies/brucella/MLST/brucella.txt
include dependencies/brucella/MLST/omp25.tfa
include dependencies/brucella/MLST/mlst_samtools_index.log
include dependencies/brucella/MLST/mlst_data_download_Brucella_spp._2019-01-31.log
include dependencies/brucella/MLST/mlst_bowtie_index.log
include dependencies/brucella/MLST/dnaK.tfa
include dependencies/brucella/suis2/script_dependents/NC_010169-NC_010167.fasta
include dependencies/brucella/suis2/script_dependents/NC_010169-NC_010167.gff
include dependencies/brucella/suis2/script_dependents/NC_010167.gbk
include dependencies/brucella/suis2/script_dependents/NC_010169-NC_010167.fasta.fai
include dependencies/brucella/suis2/script_dependents/NC_010169.gbk
include dependencies/brucella/suis2/script_dependents/NC_010169-NC_010167.genome
include dependencies/brucella/suis2/script_dependents/RemoveFromAnalysis.xlsx
include dependencies/brucella/suis2/script_dependents/Defining_SNPs.xlsx
include dependencies/brucella/suis2/script_dependents/Filtered_Regions.xlsx
include dependencies/brucella/canis/script_dependents/NC_010104.gbk
include dependencies/brucella/canis/script_dependents/NC_010103-NC_010104.fasta
include dependencies/brucella/canis/script_dependents/NC_010103-NC_010104.genome
include dependencies/brucella/canis/script_dependents/NC_010103-NC_010104.fasta.fai
include dependencies/brucella/canis/script_dependents/RemoveFromAnalysis.xlsx
include dependencies/brucella/canis/script_dependents/Filtered_Regions.xlsx
include dependencies/brucella/canis/script_dependents/DefiningSNPsGroupDesignations.xlsx
include dependencies/brucella/canis/script_dependents/NC_010103.gbk
include dependencies/brucella/canis/script_dependents/NC_010103-NC_010104.gff
include dependencies/brucella/suis1/script_dependents/NC_017251-NC_017250.1.bt2
include dependencies/brucella/suis1/script_dependents/NC_017251-NC_017250.genome
include dependencies/brucella/suis1/script_dependents/NC_017251-NC_017250.4.bt2
include dependencies/brucella/suis1/script_dependents/NC_017251-NC_017250.fasta.regions
include dependencies/brucella/suis1/script_dependents/NC_017251.gbk
include dependencies/brucella/suis1/script_dependents/NC_017251-NC_017250.gff
include dependencies/brucella/suis1/script_dependents/NC_017251-NC_017250.fasta.fai
include dependencies/brucella/suis1/script_dependents/RemoveFromAnalysis.xlsx
include dependencies/brucella/suis1/script_dependents/NC_017251-NC_017250.3.bt2
include dependencies/brucella/suis1/script_dependents/Filtered_Regions.xlsx
include dependencies/brucella/suis1/script_dependents/DefiningSNPsGroupDesignations.xlsx
include dependencies/brucella/suis1/script_dependents/NC_017251-NC_017250.rev.2.bt2
include dependencies/brucella/suis1/script_dependents/NC_017251-NC_017250.2.bt2
include dependencies/brucella/suis1/script_dependents/NC_017250.gbk
include dependencies/brucella/suis1/script_dependents/NC_017251-NC_017250.fasta
include dependencies/brucella/suis1/script_dependents/NC_017251-NC_017250.rev.1.bt2
include dependencies/brucella/ovis/script_dependents/NC_009505-NC_009504.fasta
include dependencies/brucella/ovis/script_dependents/NC_009505-NC_009504.gff
include dependencies/brucella/ovis/script_dependents/NC_009505-NC_009504.fasta.fai
include dependencies/brucella/ovis/script_dependents/NC_009504.gbk
include dependencies/brucella/ovis/script_dependents/RemoveFromAnalysis.xlsx
include dependencies/brucella/ovis/script_dependents/Filtered_Regions.xlsx
include dependencies/brucella/ovis/script_dependents/DefiningSNPsGroupDesignations.xlsx
include dependencies/brucella/ovis/script_dependents/NC_009505-NC_009504.genome
include dependencies/brucella/ovis/script_dependents/NC_009505.gbk
include dependencies/brucella/suis4/script_dependents/B-REF-BS4-40.fasta
include dependencies/brucella/suis4/script_dependents/RemoveFromAnalysis.xlsx
include dependencies/brucella/suis4/script_dependents/Filtered_Regions.xlsx
include dependencies/brucella/suis4/script_dependents/DefiningSNPsGroupDesignations.xlsx
include dependencies/brucella/ceti2/script_dependents/NC_022905.gbk
include dependencies/brucella/ceti2/script_dependents/NC_022905-NC_022906.gff
include dependencies/brucella/ceti2/script_dependents/RemoveFromAnalysis.xlsx
include dependencies/brucella/ceti2/script_dependents/NC_022905-NC_022906.fasta.fai
include dependencies/brucella/ceti2/script_dependents/Filtered_Regions.xlsx
include dependencies/brucella/ceti2/script_dependents/NC_022905-NC_022906.genome
include dependencies/brucella/ceti2/script_dependents/DefiningSNPsGroupDesignations.xlsx
include dependencies/brucella/ceti2/script_dependents/NC_022906.gbk
include dependencies/brucella/ceti2/script_dependents/NC_022905-NC_022906.fasta
include dependencies/brucella/abortus3/script_dependents/NZ_CP007682-NZ_CP007683.genome
include dependencies/brucella/abortus3/script_dependents/NZ_CP007682-NZ_CP007683.gff
include dependencies/brucella/abortus3/script_dependents/NZ_CP007683.gbk
include dependencies/brucella/abortus3/script_dependents/RemoveFromAnalysis.xlsx
include dependencies/brucella/abortus3/script_dependents/Filtered_Regions.xlsx
include dependencies/brucella/abortus3/script_dependents/NZ_CP007682.gbk
include dependencies/brucella/abortus3/script_dependents/NZ_CP007682-NZ_CP007683.fasta
include dependencies/brucella/abortus3/script_dependents/DefiningSNPsGroupDesignations.xlsx
include dependencies/brucella/abortus3/script_dependents/NZ_CP007682-NZ_CP007683.fasta.fai
